<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/manual.css' %}">

  <title>Cureit | Mental Illness Is Not A Choice But Recover Is.</title>
</head>

<body>
  {% comment %} <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav-section">
    <a class="navbar-brand  ms-4" href="#"><strong>Cureit</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">
              {% block nav-extra %}{% endblock nav-extra %}
        </li>
       
  </nav> {% endcomment %}






{% comment %} 
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><strong style="color:white;">Cureit</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color:white;">{% block nav-name %}{% endblock nav-name %} <span
              class="sr-only">(current)</span></a>
          </li>
          {% block nav-extra %}{% endblock nav-extra %}
        </ul>
      </div>
    </div>
  </nav> {% endcomment %}





  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><strong>Cureit</strong></a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">{% block nav-name %}{% endblock nav-name %} <span>(current)</span></a>
                </li>
                {% block nav-extra %}{% endblock nav-extra %}
        </div>
    </div>
</nav>

  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert" style="position: absolute; width: 100%; opacity: 0.9;">
    <strong>Message: </strong> {{ message }} {{user.username}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}

  {% block body %}{% endblock body %}


  <!-- JavaScripts -->
  <script src="{% static 'js/main1.js' %}"></script>
  <script src="{% static 'js/main2.js' %}"></script>
  <script src="{% static 'js/main3.js' %}"></script>

</html>